[buildout]
develop = .
extends = versions.cfg
parts = scripts docs invoke tests
show-picked-versions = true

[config]
initialization = import os
  os.environ['BUILDOUT_DIRECTORY'] = '${buildout:directory}'
  os.environ['BUILDOUT_BIN_DIRECTORY'] = '${buildout:bin-directory}'

[scripts]
recipe = zc.recipe.egg:scripts
interpreter = python
initialization = ${config:initialization}
scripts =
  docker-compose
  godhand-cli
  pserve
eggs =
  docker-compose
  godhand
  pyramid
  waitress

[docs]
recipe = zc.recipe.egg:scripts
scripts =
  sphinx-build
eggs =
  godhand[docs]
  sphinx

[invoke]
recipe = zc.recipe.egg:scripts
initialization = ${config:initialization}
scripts =
  inv
eggs =
  invoke

[tests]
recipe = zc.recipe.egg:scripts
initialization = ${config:initialization}
scripts =
  nosetests
  coverage
eggs =
  godhand[tests]
  coverage
  nose
